In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.shape

(10000, 14)

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [10]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.value_counts('Gender')

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [11]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [12]:
  df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [13]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [14]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [18]:
x=df.drop(columns=['Exited'])
y=df['Exited']
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.2,random_state=1)

In [19]:
xtr.shape

(8000, 11)

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtr=sc.fit_transform(xtr)
xte=sc.transform(xte)

In [23]:
xtr

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]])

In [24]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [26]:
model=Sequential()
model.add(Dense(3,activation='sigmoid',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [28]:
model.summary()

Model: "sequential_1"

 Layer (type)                     Output Shape                  Param #

 dense_1 (Dense)                  (None, 3)                          36

 dense_2 (Dense)                  (None, 1)                           4

 Total params: 40 (160.00 B)

 Trainable params: 40 (160.00 B)

 Non-trainable params: 0 (0.00 B)

In [31]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [32]:
model.fit(xtr,ytr,epochs=10)

Epoch 1/10
250/250  2s 3ms/step - loss: 0.5339
Epoch 2/10
250/250  1s 4ms/step - loss: 0.4755
Epoch 3/10
250/250  1s 3ms/step - loss: 0.4632
Epoch 4/10
250/250  1s 2ms/step - loss: 0.4484
Epoch 5/10
250/250  1s 2ms/step - loss: 0.4350
Epoch 6/10
250/250  1s 3ms/step - loss: 0.4366
Epoch 7/10
250/250  1s 3ms/step - loss: 0.4359
Epoch 8/10
250/250  1s 2ms/step - loss: 0.4315
Epoch 9/10
250/250  0s 2ms/step - loss: 0.4248
Epoch 10/10
250/250  0s 2ms/step - loss: 0.4281

In [35]:
#checking the weights and biases
#Here we have 36 weights and 3 biases that is input to hidden
model.layers[0].get_weights()

[array([[ 0.15176114, -0.03697892,  0.145499  ],
        [-1.0582603 , -1.7028652 , -1.6929095 ],
        [ 0.05956042,  0.11817858, -0.02092939],
        [-0.55068386, -0.18026762,  0.00529618],
        [ 0.20044789, -0.24333593,  0.3992871 ],
        [ 0.47230586, -0.21757981, -0.23648421],
        [ 0.85258204,  0.65483326,  0.56745195],
        [-0.22051406,  0.00414311,  0.10048571],
        [-0.24045838, -0.9058898 , -0.5520093 ],
        [ 0.26117608, -0.1747969 , -0.15038963],
        [ 0.41071892,  0.22177082,  0.6487025 ]], dtype=float32),
 array([0.15807915, 0.20987916, 0.3057534 ], dtype=float32)]

In [40]:
#here we have weights of 2 nd layes that is hidden to output
model.layers[1].get_weights()

[array([[-1.1183082 ],
        [-0.88814014],
        [-1.0269254 ]], dtype=float32),
 array([0.02482601], dtype=float32)]

In [43]:
y_log=model.predict(xte)

63/63  0s 1ms/step

In [44]:
y_pred = np.where(y_log > 0.5,1,0)#jaha par y_log>0.5 hai to print 1 nahi to 0

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(yte,y_pred)

0.795